.flip-clock-wrapper {
    margin: 100px auto;
    max-width: 50%;

	.flip-clock-divider {
		.flip-clock-label {
			color: #FFF;
			font-size: 2em;
		}

		.flip-clock-dot {
			background-color: #FFF;
		}
	}
    
}